
<section class="gt_section-50431" data-name="Contact Page">
    <section class="gt_contact-page">
      <div class="gt_container">
        <div class="gt_flex gt_flex-xs-column gt_flex-sm-column">
            <div class="gt_contact-left ">
                <h2>
                  SEND US A MESSAGE
                </h2>
                 
                    {% form 'contact' %}
                
                    <div class="contact-form">
                      <input type="text" placeholder="Your name*" id="ContactFormName" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                        <input type="email" placeholder="Your email adress*" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                        <input type="number" placeholder="Contact phone number" id="ContactFormPhone" name="contact[phone]" autocorrect="off" autocapitalize="off" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                        <textarea name="contact[body]" id="ContactFormMessage" class="form-control" cols="30" rows="5" placeholder="Your Message...">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                    </div>
                    <div class="error-mess">
                        {% if form.posted_successfully? %}
                            <p class="success">Sucess</p>
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form.errors %}
                                <p class="fail">{{ field }} {{ form.errors.messages[field] }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="button-send-contact">
                        <button type="submit">
                            Send
                        </button>
                    </div>
                
                {% endform %}
                
            </div>
            <div class="gt_contact-right ">
                <h2>
                   GET IN TOUCH
                </h2>
                <div class="contact-info">
                    <div class="contact-detail">
                        <h4>
                          DIRECT CONTACT
                        </h4>
                        <p>
                            <a href="tel:+333 123 4567">
                              +333 123 4567
                            </a>
                        </p>
                        <p>
                            <a href="mailto:support@meganbebas.uk">
                              support@meganbebas.uk
                            </a>
                        </p>
                        <h4 class="margin-10">
                          AVAILABILITY
                        </h4>
                        <p>
                          Mon-Sat 8am-6pm Eastern
                        </p>
                    </div>
                    <div class="button-live-chat">
                        <button type="button" onclick="location.href='#';" value>
                            Live chat with us
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
        
    </section>
</section><section class="gt_section-50430" data-name="News Letter">
   <div class="gt_newsletter">
      <div class="gt_container">
         <h2>Newsletter</h2>
         <p>Subscribe to our newsletter and get reviews of the latest products and services</p>
          {% form 'customer' %}
            {% if form.errors %}
                {% for field in form.errors %}
                   <div class="gt_newsletter-from">
                      <p class="result-error">{{ field }} {{ form.errors.messages[field] }}</p>
                   </div>
                {% endfor %}
            {% endif %}
  
            {% if form.posted_successfully? %}
                <div class="gt_newsletter-from">
                  <p class="result">Thanks for subscribing</p>
               </div>
            {% else %}
               <div class="gt_newsletter-from">
                  <div class="gt_flex gt_password-input">
                     <input type="hidden" name="contact[tags]" value="newsletter">
                     <input type="text" value="{% if customer %}{{ customer.email }}{% endif %}" name="contact[email]" placeholder="Enter your email" class="input-newsletter input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
                     <button name="commit" type="submit" class="validate button--secondary newsletter__submit" aria-label="Subscribe">Subscribe!
                     </button>
                  </div>
                  <p class="result"></p>
                  <p class="result-error"></p>
               </div>
            {% endif %}
          {% endform %}
      </div>
   </div>
</section><section class="gt_section-50462" data-name="Trust Badge">
    <div class="gt_trustbadge">
       <div class="gt_container">
          <div class="gt_trustbadge-content">
            <div class="gt_flex gt_flex-wrap gt_trustbadge-items">
               
                <div class="gt_flex gt_trustbadge-item item1">
                   <div class="gt_trustbadge-icon">
                      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M29.7741 32.5741L26.9501 13.2998L18.501 21.3599C21.0648 25.2937 26.5329 33.3373 27.8951 34.0419C29.2572 34.7465 29.7153 33.3569 29.7741 32.5741Z" fill="#61C652"/>
                         <path d="M2.56657 5.07316L21.8403 7.90046L13.7788 16.3482C9.84547 13.7837 1.80273 8.31415 1.09841 6.95189C0.394093 5.58962 1.78372 5.13179 2.56657 5.07316Z" fill="#61C652"/> 
                         <path d="M16.4895 17.5437C16.2222 17.8102 16.2222 18.2431 16.4895 18.5104C16.7568 18.7777 17.1894 18.7777 17.4562 18.5104C17.7235 18.2431 17.7235 17.8102 17.4562 17.5437C17.1894 17.2764 16.7568 17.2764 16.4895 17.5437Z" fill="black"/>
                         <path d="M27.3593 1.99974C26.1862 2.9079 25.8666 3.376 21.7063 7.49331L19.2122 7.08716L20.3567 5.94268C21.1583 5.14106 21.1586 3.8441 20.3567 3.04248C19.5554 2.24113 18.2576 2.24086 17.4562 3.04248L14.2236 6.27513L2.91815 4.4345C2.18756 4.31594 1.44015 4.5576 0.91731 5.08044C-0.0880523 6.08581 0.0483992 7.74913 1.19529 8.57905L12.4615 16.7378L10.3522 18.8474C9.62938 19.5702 8.86861 20.5644 8.08676 21.8058L2.8327 20.2607C2.05725 20.033 1.21985 20.2463 0.647077 20.818C-0.328111 21.7932 -0.180711 23.4127 0.952023 24.1973L5.25919 27.1789C4.50938 28.8337 4.05356 30.0302 4.03246 30.0855C3.93687 30.3371 3.99802 30.6214 4.18814 30.8116C4.37933 31.0028 4.66399 31.0623 4.91419 30.9672C4.96947 30.9464 6.16602 30.4903 7.8208 29.7405L10.8027 34.048C11.5886 35.1826 13.2081 35.3262 14.1822 34.3521C14.7537 33.7799 14.967 32.9425 14.739 32.167L13.1942 26.9132C14.4364 26.1308 15.43 25.3701 16.1526 24.6478L18.2621 22.5382L26.4207 33.8044C27.2519 34.9532 28.9152 35.0867 29.9195 34.0824C30.4421 33.5598 30.6838 32.8119 30.5655 32.081L28.7248 20.7764L31.9572 17.544C32.7588 16.7424 32.7588 15.4446 31.9572 14.6433C31.1559 13.8416 29.8589 13.8416 29.0573 14.6433L27.9125 15.7877L27.5067 13.2937C31.6282 9.12913 32.0889 8.81697 32.9976 7.64392C32.9986 7.64258 33 7.64098 33.001 7.63938C35.1095 4.90687 35.603 2.14714 34.228 0.771673C32.8528 -0.602722 30.0928 -0.109788 27.3593 1.99974ZM18.4229 4.00939C18.6899 3.7421 19.1228 3.7421 19.3901 4.00939C19.6574 4.27669 19.6571 4.70847 19.3901 4.97577L17.5492 6.81639L15.8864 6.54563L18.4229 4.00939ZM1.99691 7.47142C1.52907 7.13309 1.4754 6.45564 1.88422 6.04709C2.09704 5.834 2.40199 5.73546 2.69892 5.7838L20.5151 8.68453L13.4407 15.7586L1.99691 7.47142ZM1.61372 21.7852C1.83215 21.567 2.15151 21.4853 2.44712 21.5724L7.36124 23.0175C6.85869 23.8977 6.3516 24.8699 5.84585 25.9223L1.73041 23.0734C1.29863 22.7743 1.24202 22.1566 1.61372 21.7852ZM13.215 33.386C12.8465 33.7545 12.2281 33.7048 11.9266 33.2696L9.0777 29.1539C10.1309 28.6476 11.1034 28.1402 11.9824 27.6387L13.4273 32.5526C13.5144 32.8485 13.4329 33.1678 13.215 33.386ZM30.0242 15.6099C30.2912 15.3429 30.7233 15.3426 30.9906 15.6099C31.2579 15.8772 31.2576 16.3098 30.9906 16.5771L28.4541 19.1133L28.1836 17.4505L30.0242 15.6099ZM29.2159 32.3003C29.2642 32.598 29.1657 32.9029 28.9529 33.1158C28.5462 33.5224 27.8682 33.4728 27.5283 33.0028L19.2411 21.5593L26.3154 14.4849L29.2159 32.3003ZM15.186 23.6808C14.4338 24.4333 13.3328 25.2456 11.9138 26.0956C10.0692 27.2003 7.88622 28.2465 5.91715 29.0828C6.77618 27.0604 7.84216 24.8421 8.97062 22.9764C9.796 21.6108 10.5861 20.5467 11.3191 19.814C28.0175 3.1557 27.0281 4.015 28.0415 3.20457C29.1657 3.13274 30.1553 3.46652 30.8442 4.15546C31.5332 4.84439 31.8672 5.83426 31.7954 6.95819C30.9831 7.97396 31.8323 6.99424 15.186 23.6808ZM32.9653 5.16189C32.7468 4.40833 32.3588 3.73649 31.8112 3.18881C31.2635 2.64141 30.5916 2.25315 29.8384 2.03472C30.8277 1.53297 32.4937 0.971143 33.2614 1.73832C33.8675 2.34474 33.7169 3.67961 32.9653 5.16189Z" fill="black"/>
                         <path d="M20.3567 13.6766L18.4234 15.6096C18.1564 15.8766 18.1564 16.3095 18.4234 16.5765C18.6904 16.8435 19.123 16.8433 19.3903 16.5765L21.3233 14.6432C21.5904 14.3765 21.5904 13.9436 21.3233 13.6766C21.0563 13.4096 20.6237 13.4096 20.3567 13.6766Z" fill="black"/>
                         <path d="M24.224 9.80965L22.2899 11.7435C22.0232 12.0105 22.0232 12.4433 22.2899 12.7104C22.5572 12.9771 22.9898 12.9771 23.2568 12.7104L25.1906 10.7766C25.4577 10.5095 25.4577 10.0767 25.1906 9.80965C24.9236 9.54262 24.491 9.54262 24.224 9.80965Z" fill="black"/>
                      </svg>
                   </div>
                   <div class="gt_trustbadge-text">
                      <h4>
                        Free Delivery
                      </h4>
                      <p>
                        On all order over $75
                      </p>
                   </div>
                </div>
              
              
                <div class="gt_flex gt_trustbadge-item item2">
                   <div class="gt_trustbadge-icon">
                      <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M20.4185 5.62153C21.868 6.91469 22.3699 12.0171 22.4397 14.4067L21.7315 14.8289C21.5244 14.4968 21.04 13.5145 20.7596 12.2419C20.4091 10.6511 18.1182 8.96781 16.9549 8.29519C16.0243 7.75709 13.0466 7.50444 11.674 7.44538C11.6521 7.67086 11.5951 8.26375 11.5425 8.83144C11.4899 9.39913 10.6547 9.31748 10.2436 9.20569L6.68945 4.77798L11.2893 0.912598C10.9176 1.61538 10.5365 3.03501 11.986 3.09123C13.798 3.16151 18.6066 4.00508 20.4185 5.62153Z" fill="#61C652"/>
                         <path d="M29.5726 25.7094L29.508 20.9897L24.6022 23.5611L24.5698 28.2483L29.5726 25.7094Z" fill="#61C652"/>
                         <path d="M38.8875 17.3116L34.6732 10.3647C34.6698 10.3594 34.6663 10.3546 34.6632 10.3496C34.6598 10.3443 34.6565 10.3395 34.6531 10.3344C34.6462 10.3238 34.6391 10.3135 34.6312 10.3032C34.6283 10.2991 34.6248 10.2952 34.6217 10.2909C34.6121 10.2789 34.6031 10.2668 34.5928 10.2555C34.5906 10.2531 34.5883 10.2507 34.5859 10.2483C34.5802 10.2418 34.5742 10.2353 34.5678 10.2288C34.5654 10.2264 34.563 10.2238 34.5606 10.2211C34.5396 10.1997 34.517 10.1803 34.4938 10.1617C34.4893 10.1584 34.4848 10.1548 34.4807 10.1514C34.4626 10.1377 34.444 10.1247 34.4247 10.1127C34.422 10.111 34.4192 10.1091 34.4163 10.1074C34.4125 10.105 34.4089 10.1026 34.4051 10.1004C34.4044 10.1002 34.4041 10.0994 34.4037 10.0992C34.4022 10.0982 34.4003 10.098 34.3989 10.0968C34.375 10.0833 34.3507 10.0713 34.3259 10.0605C34.3223 10.059 34.319 10.0571 34.3154 10.0557C34.313 10.0545 34.3109 10.0535 34.3085 10.0528C34.2813 10.0417 34.2534 10.0323 34.225 10.0242C34.221 10.0232 34.2167 10.0217 34.2129 10.0208C34.2114 10.0205 34.2105 10.0201 34.2093 10.0193L21.8851 6.84945C21.8679 6.84536 21.8508 6.84224 21.8333 6.83887C21.5352 6.16131 21.1889 5.62494 20.7911 5.22374C19.8154 4.23975 18.6119 3.29881 16.4964 2.77158C15.0875 2.42065 13.7758 2.40093 13.7273 2.3954C13.6715 2.38914 13.615 2.38602 13.5587 2.38602H12.2489V1.54249C12.2489 0.909668 11.8656 0.340825 11.2822 0.107996C11.0995 0.0353573 10.9087 0 10.7201 0C10.3053 0 9.89889 0.170292 9.60386 0.487546L6.05517 4.30493C5.77731 4.60366 5.62872 5.00197 5.64232 5.41111C5.65591 5.82072 5.8305 6.20797 6.12743 6.48746L9.67589 9.82764C9.96495 10.0994 10.3399 10.2423 10.7198 10.2423C10.9256 10.2423 11.1331 10.2007 11.3292 10.1148C11.8875 9.86997 12.2489 9.31412 12.2489 8.70006V8.33398H13.5587C14.1166 8.33398 14.6418 8.37895 15.1333 8.46891L14.87 8.61804L6.24406 13.3922C6.23834 13.3951 6.23309 13.3987 6.22737 13.4021C6.2257 13.4033 6.22379 13.4043 6.22164 13.4055C6.21902 13.4071 6.21616 13.4083 6.2133 13.4103C6.20948 13.4127 6.20566 13.4153 6.20185 13.4177C6.19326 13.423 6.18491 13.429 6.1768 13.4348C6.16989 13.4396 6.16273 13.4442 6.15629 13.4492C6.15439 13.4504 6.15295 13.4516 6.15128 13.4528C6.14341 13.4589 6.13626 13.4649 6.12887 13.4711C6.12171 13.4769 6.11432 13.4829 6.1074 13.4892C6.10478 13.4911 6.10215 13.4935 6.09953 13.4959C6.09595 13.4993 6.09237 13.5029 6.0888 13.5065C6.08689 13.5079 6.08546 13.5096 6.08379 13.5113C6.07735 13.5173 6.07091 13.5233 6.06471 13.5298C6.06041 13.5341 6.0566 13.5387 6.05254 13.5428C6.04706 13.5486 6.04205 13.5546 6.03656 13.5606C6.03275 13.5649 6.02893 13.5695 6.02512 13.5741C6.01939 13.5806 6.01438 13.5875 6.00938 13.5945C6.00365 13.6013 5.99817 13.6082 5.99316 13.6154C5.99173 13.6176 5.99029 13.6193 5.98886 13.6212C5.9798 13.6337 5.97169 13.647 5.96382 13.6599C5.96072 13.6647 5.95762 13.6691 5.95476 13.6739L4.70929 15.7807C4.49297 16.1467 4.61198 16.6201 4.97475 16.8382C5.33751 17.0559 5.80689 16.9366 6.02297 16.5705L6.97961 14.9525L15.6964 17.0971L20.6881 18.3257L15.5011 26.9134L1.94719 23.4659L3.04478 21.6091C3.2611 21.2432 3.14209 20.7701 2.77933 20.552C2.4168 20.3338 1.94743 20.4533 1.7311 20.8194L0.107851 23.5655C-0.0156932 23.7745 -0.0342965 24.0307 0.0582428 24.2556C0.150782 24.4807 0.343493 24.6484 0.577941 24.708L5.84743 26.0485V29.4709C5.84743 29.8264 6.08808 30.1357 6.43057 30.2201L21.7041 33.9781C21.7215 33.9824 21.7394 33.9848 21.7573 33.9877C21.7685 33.9899 21.7797 33.9925 21.7907 33.994C21.8221 33.9981 21.8536 34 21.8851 34C21.9149 34 21.9447 33.9976 21.9741 33.9945C21.9807 33.9935 21.9872 33.9925 21.9939 33.9916C22.0227 33.9875 22.0513 33.9822 22.0795 33.9745C22.084 33.9733 22.0881 33.9719 22.0926 33.9707C22.1186 33.9632 22.1441 33.9545 22.1692 33.9442C22.1742 33.9425 22.1789 33.9406 22.1839 33.9387C22.2114 33.9269 22.2381 33.9134 22.2641 33.8983C22.2665 33.8973 22.2689 33.8963 22.2712 33.8951L34.4068 26.7465C34.6414 26.6082 34.786 26.3546 34.786 26.0807V18.4854H38.2355C38.5121 18.4854 38.7671 18.3346 38.9025 18.0909C39.0375 17.8477 39.0321 17.5497 38.8875 17.3116ZM32.0081 11.0478L21.7685 17.0037L20.0288 16.5756L20.0336 13.7359C20.0637 13.9183 20.0746 14.0335 20.0765 14.0558C20.124 14.8739 20.7959 15.5 21.6008 15.5C21.6237 15.5 21.6466 15.4992 21.6697 15.4983C22.5064 15.4615 23.1575 14.7442 23.131 13.9C23.1289 13.8358 23.0781 12.3072 22.8074 10.5408C22.6967 9.82067 22.5665 9.1674 22.416 8.57811L32.0081 11.0478ZM10.7196 6.79124V8.70006L7.17089 5.35988L10.7196 1.54249V3.92827C10.7196 3.92827 12.8499 3.88858 13.5587 3.92827C15.2034 4.02015 17.8895 4.33475 19.7095 6.31404C21.2564 7.99628 21.6022 13.9491 21.6022 13.9491C21.6022 13.9491 21.129 6.79124 13.5587 6.79124C13.4745 6.79124 10.7196 6.79124 10.7196 6.79124ZM15.6046 9.97099L17.0628 9.14527C17.6142 9.45387 18.0979 9.84953 18.5124 10.3323C18.5117 10.3484 18.51 10.3638 18.51 10.3799L18.5 16.1994L8.70518 13.7896L15.6046 9.97099ZM7.37648 26.4376L15.674 28.5482C15.736 28.5641 15.799 28.5716 15.8608 28.5716C16.1231 28.5716 16.3728 28.435 16.5138 28.2016L17.302 26.8966L19.4362 27.299C19.4834 27.3079 19.5306 27.3122 19.5773 27.3122C19.9384 27.3122 20.2595 27.0534 20.3282 26.6825C20.4059 26.264 20.1323 25.8611 19.7173 25.7827L18.153 25.4878L21.1205 20.5746V32.247L7.37648 28.8653V26.4376ZM33.2562 25.6376L22.65 31.8855V18.2715L33.2562 12.1023V25.6376ZM34.7857 16.9429V13.5053L36.8712 16.9429H34.7857Z" fill="black"/>
                         <path d="M29.8981 20.0875C29.661 19.9496 29.3686 19.9508 29.132 20.0901L24.085 23.0591C23.8499 23.1977 23.7056 23.4512 23.7056 23.7254V28.3882C23.7056 28.6648 23.8527 28.9205 24.0912 29.0576C24.2088 29.1254 24.3397 29.1594 24.4702 29.1594C24.6047 29.1594 24.739 29.1238 24.859 29.0523L29.9059 26.0494C30.139 25.9108 30.2821 25.6583 30.2821 25.385V20.7559C30.2823 20.4798 30.1356 20.2248 29.8981 20.0875ZM28.7525 24.9449L25.2351 27.0379V24.1682L28.7525 22.0987V24.9449Z" fill="black"/>
                         <path d="M19.7168 28.4816L18.0973 28.1757C17.6823 28.0977 17.2826 28.3734 17.2051 28.7921C17.1273 29.2106 17.4011 29.6138 17.8161 29.6919L19.4358 29.9974C19.4833 30.0065 19.5305 30.0106 19.5772 30.0106C19.9383 30.0106 20.2594 29.7521 20.3281 29.3812C20.4058 28.9624 20.1322 28.5598 19.7168 28.4816Z" fill="black"/>
                         <path d="M24.4713 20.8591C24.6025 20.8591 24.7355 20.8252 24.8569 20.7535L26.9992 19.4881C27.3639 19.2731 27.486 18.8004 27.2727 18.4329C27.0593 18.0652 26.5909 17.942 26.2267 18.157L24.084 19.4224C23.7195 19.6375 23.5972 20.1101 23.8104 20.4774C23.953 20.7227 24.2087 20.8591 24.4713 20.8591Z" fill="black"/>
                         <path d="M28.6732 16.728L28.6365 16.7366C28.2251 16.8343 27.9699 17.2492 28.0662 17.6636C28.149 18.0191 28.4629 18.2589 28.8101 18.2589C28.8678 18.2589 28.9265 18.2524 28.9854 18.2385L29.0224 18.2298C29.4336 18.1326 29.6888 17.7175 29.5924 17.3028C29.4961 16.8881 29.0844 16.631 28.6732 16.728Z" fill="black"/>
                         <path d="M3.92473 19.4967C3.98268 19.4967 4.04112 19.4902 4.10003 19.4763L4.137 19.4676C4.54817 19.3704 4.80361 18.9555 4.70702 18.5406C4.61066 18.1259 4.19924 17.8688 3.78807 17.9658L3.75086 17.9744C3.33968 18.0716 3.08448 18.4867 3.18107 18.9014C3.26336 19.2569 3.57771 19.4967 3.92473 19.4967Z" fill="black"/>
                      </svg>
                   </div>
                   <div class="gt_trustbadge-text">
                      <h4>
                        Free Returns
                      </h4>
                      <p>
                        No questions asked return policy
                      </p>
                   </div>
                </div>
              
              
                <div class="gt_flex gt_trustbadge-item item3">
                   <div class="gt_trustbadge-icon">
                      <svg width="35" height="39" viewBox="0 0 35 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M18.3558 21.9541C19.2677 21.6936 18.7358 20.0817 18.3558 19.3083C17.7588 19.3083 16.988 19.2517 15.5877 19.3494C13.8374 19.4715 14.4481 20.4887 14.733 21.8319C15.018 23.1752 17.216 22.2797 18.3558 21.9541Z" fill="#61C652"/>
                         <path d="M27.4735 17.3141C27.0176 17.6398 25.5739 17.6669 24.9091 17.6398C25.2347 16.7931 25.2076 13.0809 25.1533 11.3306L27.9619 11.412C27.9891 13.2437 27.9294 16.9885 27.4735 17.3141Z" fill="#61C652"/>
                         <path d="M7.20262 16.7035C7.72364 17.8432 9.48207 17.694 10.2962 17.4769L9.76695 11.3712L6.79568 11.819C6.71424 12.9723 6.6816 15.5638 7.20262 16.7035Z" fill="#61C652"/>
                         <path d="M25.8693 30.1304C25.4493 30.1304 25.1084 30.4712 25.1084 30.8912C25.1084 31.3112 25.4493 31.6521 25.8693 31.6521C26.2893 31.6521 26.6301 31.3112 26.6301 30.8912C26.6301 30.4712 26.2893 30.1304 25.8693 30.1304Z" fill="black"/>
                         <path d="M27.743 27.67L24.1266 26.4648L22.8283 23.8682C23.9979 22.6777 24.81 21.1026 25.0838 19.4596L25.2457 18.4891H26.6304C27.8891 18.4891 28.913 17.4652 28.913 16.2065V11.413C28.913 5.11989 23.7932 0 17.5 0C11.1907 0 6.08696 5.10521 6.08696 11.413V16.2065C6.08696 17.1984 6.72312 18.0442 7.6087 18.3583V19.25C7.6087 20.5086 8.63267 21.5326 9.8913 21.5326H10.5595C10.8893 22.2491 11.3163 22.9127 11.8358 23.5089C11.9435 23.6328 12.0559 23.7528 12.171 23.8696L10.8734 26.4648L7.25695 27.6701C3.052 29.0722 0 33.4989 0 38.1957C0 38.6159 0.340641 38.9565 0.76087 38.9565H34.2391C34.6593 38.9565 35 38.6159 35 38.1957C35 33.4989 31.9481 29.0722 27.743 27.67ZM27.3913 16.2065C27.3913 16.6261 27.05 16.9674 26.6304 16.9674H25.4692C25.6626 15.4692 25.7915 13.875 25.8433 12.3048C25.8448 12.2605 25.8461 12.2174 25.8474 12.1739H27.3913V16.2065ZM8.36957 16.9674C7.95002 16.9674 7.6087 16.6261 7.6087 16.2065V12.1739H9.15311C9.15562 12.2533 9.15828 12.333 9.16125 12.4133C9.16133 12.416 9.16148 12.4187 9.16155 12.4214C9.16155 12.4217 9.16155 12.4219 9.16155 12.4221C9.21481 13.9493 9.34203 15.5022 9.53103 16.9673H8.36957V16.9674ZM9.8913 20.0109C9.47176 20.0109 9.13043 19.6695 9.13043 19.25V18.4891H9.7542L9.91611 19.4599C9.947 19.6444 9.98497 19.8283 10.0289 20.0109H9.8913ZM9.13173 10.6522H7.63761C8.02299 5.55275 12.2787 1.52174 17.5 1.52174C22.6981 1.52174 26.9725 5.55222 27.3623 10.6522H25.8683C25.8136 6.45012 22.3917 3.04348 18.1811 3.04348H16.8191C12.6085 3.04348 9.18643 6.45012 9.13173 10.6522ZM16.819 4.56522H18.181C21.5904 4.56522 24.3498 7.35388 24.3478 10.7595C24.3478 10.9989 24.3459 11.2074 24.3419 11.3971C24.3419 11.3995 24.3418 11.402 24.3418 11.4045L23.3901 11.2686C20.8047 10.8994 18.3635 9.67879 16.5163 7.83155C16.3735 7.68889 16.18 7.6087 15.9783 7.6087C13.9349 7.6087 11.9788 8.5397 10.6858 10.1126C11.0045 7.01438 13.6236 4.56522 16.819 4.56522ZM11.6063 20.0109C11.2254 18.7438 10.7896 15.0155 10.6933 12.6264L11.7173 11.2609C12.6578 10.0073 14.1211 9.22843 15.6776 9.13903C17.7256 11.0881 20.3751 12.3752 23.1749 12.7749L24.2951 12.935C24.2202 14.5241 24.0672 16.1187 23.848 17.5853C23.8479 17.5857 23.8479 17.5863 23.8478 17.5868C23.7781 18.0583 23.7232 18.3618 23.5828 19.2093C23.1799 21.6262 21.3765 23.8118 18.9958 24.407C18.016 24.6516 16.9838 24.6516 16.0046 24.407C14.5181 24.0354 13.1551 23.0069 12.2754 21.5326H13.8265C14.1406 22.4182 14.9863 23.0543 15.9783 23.0543H17.5C18.7611 23.0543 19.7826 22.033 19.7826 20.7717C19.7826 19.5131 18.7586 18.4891 17.5 18.4891H15.9783C14.9642 18.4891 14.131 19.1441 13.8252 20.0109H11.6063ZM15.9143 25.9469C16.4362 26.0568 16.9682 26.113 17.5 26.113C17.9163 26.113 18.3326 26.0782 18.7442 26.0106L17.3998 27.4325L15.9143 25.9469ZM16.3537 28.5386L13.9404 31.0907C13.276 29.819 12.7052 28.4955 12.2369 27.1405L13.1432 25.328L16.3537 28.5386ZM21.7278 25.0702L22.7629 27.1404C22.2939 28.4977 21.7229 29.8217 21.0592 31.0919L18.4762 28.5089L21.7278 25.0702ZM15.2174 20.7717C15.2174 20.3517 15.5581 20.0109 15.9783 20.0109H17.5C17.9195 20.0109 18.2609 20.3522 18.2609 20.7717C18.2609 21.1919 17.9201 21.5326 17.5 21.5326H15.9783C15.5587 21.5326 15.2174 21.1913 15.2174 20.7717ZM1.55217 37.4348C1.85371 33.6655 4.36222 30.2395 7.7382 29.1137L10.941 28.0463C11.5278 29.6689 12.2547 31.2459 13.1067 32.7439C13.1081 32.7465 13.1095 32.7491 13.1109 32.7516C13.1109 32.7517 13.111 32.7517 13.111 32.7518C13.7335 33.8466 14.4341 34.9165 15.1937 35.9321L16.1297 37.4348H1.55217ZM17.5 36.7565L16.4681 35.0999C16.4565 35.0813 16.4442 35.0633 16.4311 35.0458C15.815 34.2239 15.2402 33.3644 14.7167 32.4846L17.4302 29.615L20.2894 32.4742C19.7624 33.3604 19.1857 34.2235 18.569 35.0457C18.5317 35.0953 18.5846 35.017 17.5 36.7565ZM18.8703 37.4348L19.8063 35.9322C20.5692 34.9127 21.2748 33.8342 21.9035 32.7265C21.9073 32.7198 21.9109 32.713 21.9147 32.7063C21.9152 32.7054 21.9156 32.7047 21.9161 32.7038C22.7572 31.2201 23.4766 29.6568 24.059 28.0463L27.2617 29.1137C30.6378 30.2395 33.1463 33.6655 33.4478 37.4348H18.8703Z" fill="black"/>
                         <path d="M31.161 34.3558C30.6525 33.338 29.9077 32.4338 29.0071 31.7409C28.674 31.4846 28.1963 31.5469 27.9401 31.88C27.6838 32.2131 27.7461 32.6908 28.0792 32.9471C28.7985 33.5004 29.3934 34.2227 29.7996 35.0359C29.9877 35.4124 30.445 35.564 30.8203 35.3765C31.1962 35.1887 31.3487 34.7318 31.161 34.3558Z" fill="black"/>
                      </svg>
                   </div>
                   <div class="gt_trustbadge-text">
                      <h4>
                        Need Help? +333 123 4567
                      </h4>
                      <p>
                        Call us on a toll-free phone number
                      </p>
                   </div>
                </div>
              
              
                <div class="gt_flex gt_trustbadge-item item4">
                   <div class="gt_trustbadge-icon">
                      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M34.2327 15.8315C33.9938 15.5148 33.7466 15.1873 33.7072 14.933C33.6645 14.6623 33.8013 14.2647 33.9336 13.8808C34.1261 13.3241 34.3432 12.693 34.148 12.0914C33.9495 11.4784 33.396 11.0917 32.9077 10.7505C32.5795 10.5213 32.241 10.2845 32.1213 10.0505C31.9988 9.81094 32.0059 9.39312 32.0124 8.98953C32.0223 8.39781 32.0332 7.72789 31.6586 7.21273C31.2823 6.69539 30.6392 6.49906 30.0721 6.32625C29.6877 6.20922 29.2895 6.08727 29.102 5.89969C28.9138 5.71156 28.7924 5.31344 28.6754 4.92898C28.5026 4.36187 28.3062 3.71875 27.7884 3.3425C27.2738 2.96789 26.6033 2.97828 26.0121 2.98867C25.6085 2.99633 25.1902 3.00234 24.9512 2.87984C24.7171 2.76062 24.4803 2.42156 24.2512 2.09344C23.9105 1.60508 23.5238 1.05219 22.9108 0.853125C22.3087 0.657891 21.6765 0.875 21.1192 1.06641C20.7353 1.19875 20.3366 1.33492 20.067 1.29336C19.8127 1.25344 19.4852 1.00625 19.168 0.767813C18.6911 0.407969 18.1497 0 17.5 0C16.8503 0 16.3089 0.407969 15.8315 0.767813C15.5148 1.0068 15.1873 1.25344 14.933 1.29336C14.6634 1.33656 14.2652 1.19875 13.8808 1.06641C13.3235 0.874453 12.6924 0.657344 12.0914 0.852031C11.4784 1.05109 11.0917 1.60398 10.7505 2.09234C10.5213 2.41992 10.2845 2.75898 10.0505 2.8782C9.81094 3.0007 9.39258 2.99305 8.98953 2.98703C8.39781 2.97555 7.72789 2.9657 7.21273 3.34086C6.69539 3.71711 6.49906 4.36023 6.32625 4.92734C6.20922 5.31234 6.08727 5.70992 5.89969 5.89805C5.71156 6.08617 5.31344 6.20758 4.92844 6.32516C4.36133 6.49797 3.71875 6.6943 3.34195 7.21164C2.96734 7.72625 2.97828 8.39672 2.98813 8.98844C2.99469 9.39258 3.00125 9.80984 2.8793 10.0499C2.76008 10.2834 2.42102 10.5202 2.09344 10.7494C1.60508 11.0906 1.05219 11.4773 0.852578 12.0903C0.657344 12.6924 0.875 13.3235 1.06695 13.8808C1.1993 14.2652 1.33656 14.6623 1.29391 14.933C1.25398 15.1873 1.00734 15.5148 0.768359 15.8315C0.407969 16.3089 0 16.8503 0 17.5C0 18.1497 0.407969 18.6911 0.767813 19.1685C1.0068 19.4852 1.25344 19.8133 1.29336 20.0676L2.37398 19.8975C2.29195 19.373 1.96109 18.9345 1.64117 18.5101C1.37211 18.153 1.09375 17.7838 1.09375 17.5C1.09375 17.2162 1.37211 16.847 1.64117 16.4899C1.96109 16.0655 2.29141 15.627 2.37398 15.1025C2.45875 14.5633 2.27664 14.035 2.10055 13.5242C1.95781 13.1102 1.81016 12.6815 1.89273 12.4283C1.97859 12.1641 2.35539 11.9011 2.71961 11.6462C3.15711 11.3405 3.60992 11.0245 3.85328 10.5476C4.09937 10.0652 4.09062 9.50906 4.08133 8.97094C4.07422 8.53016 4.06711 8.07516 4.22625 7.85586C4.38758 7.63438 4.82453 7.50094 5.24781 7.37187C5.76078 7.21492 6.2918 7.05305 6.67297 6.67188C7.05414 6.2907 7.21602 5.76023 7.37242 5.24727C7.50148 4.82453 7.63438 4.38703 7.85641 4.2257C8.0757 4.06602 8.53125 4.07312 8.97149 4.08078C9.50961 4.08953 10.0652 4.09883 10.5481 3.85273C11.025 3.60938 11.3411 3.15711 11.6473 2.71906C11.9016 2.35484 12.1652 1.97859 12.4294 1.89273C12.682 1.80961 13.1108 1.95836 13.5248 2.10055C14.0361 2.27664 14.5638 2.4582 15.103 2.37398C15.627 2.29195 16.0661 1.96109 16.4905 1.64117C16.847 1.37211 17.2162 1.09375 17.5 1.09375C17.7838 1.09375 18.153 1.37211 18.5101 1.64117C18.9345 1.96109 19.373 2.29141 19.8975 2.37398C20.4356 2.45711 20.965 2.27664 21.4758 2.10055C21.8903 1.95781 22.318 1.80961 22.5723 1.89273C22.8359 1.97859 23.0995 2.35484 23.3543 2.71906C23.66 3.15656 23.9766 3.60938 24.453 3.85273C24.9353 4.09883 25.4937 4.09117 26.0296 4.08078C26.4704 4.07422 26.9259 4.06602 27.1452 4.2257C27.3667 4.38703 27.4996 4.82398 27.6292 5.24727C27.7856 5.76023 27.9475 6.29125 28.3287 6.67242C28.7093 7.05359 29.2403 7.21547 29.7533 7.37187C30.1755 7.50094 30.613 7.63438 30.7743 7.85586C30.934 8.07516 30.9263 8.53016 30.9192 8.97094C30.9105 9.50906 30.9017 10.0652 31.1478 10.5476C31.3912 11.0245 31.8434 11.3405 32.2809 11.6462C32.6452 11.9011 33.0214 12.1641 33.1078 12.4288C33.1898 12.682 33.0427 13.1102 32.9 13.5242C32.7239 14.035 32.5423 14.5633 32.6266 15.1025C32.7091 15.6264 33.04 16.0655 33.3594 16.4894C33.6279 16.847 33.9062 17.2162 33.9062 17.5C33.9062 17.7838 33.6279 18.153 33.3588 18.5106C33.0395 18.9345 32.7091 19.373 32.626 19.8975L33.7072 20.0676C33.7466 19.8133 33.9938 19.4857 34.2327 19.1685C34.592 18.6911 35 18.1497 35 17.5C35 16.8503 34.592 16.3089 34.2327 15.8315ZM29.7522 27.6287C29.2392 27.7851 28.7082 27.947 28.3276 28.3281C27.9464 28.7087 27.7845 29.2398 27.6276 29.7527C27.4991 30.1755 27.3656 30.6124 27.1436 30.7738C26.9248 30.9329 26.4666 30.9252 26.0291 30.9187C25.4909 30.9099 24.9353 30.9012 24.4519 31.1473C23.9755 31.3906 23.6595 31.8429 23.3537 32.2804C23.0989 32.6446 22.8359 33.0209 22.5712 33.1073C22.3174 33.1904 21.8898 33.0427 21.4752 32.8995C20.9645 32.7239 20.4356 32.5451 19.897 32.626C19.3725 32.7086 18.9339 33.0395 18.5101 33.3588C18.153 33.6279 17.7838 33.9062 17.5 33.9062C17.2162 33.9062 16.847 33.6279 16.4894 33.3588C16.0655 33.0395 15.6264 32.7091 15.1025 32.626C14.5649 32.5451 14.035 32.7239 13.5242 32.8995C13.1102 33.0422 12.6826 33.1904 12.4283 33.1073C12.1641 33.0214 11.9005 32.6446 11.6462 32.2804C11.34 31.8423 11.0239 31.3901 10.5476 31.1467C10.0652 30.9006 9.50852 30.9094 8.97149 30.9187C8.5307 30.9241 8.07516 30.9334 7.85586 30.7732C7.63438 30.6119 7.50094 30.1749 7.37187 29.7522C7.21492 29.2392 7.05305 28.7082 6.67188 28.3276C6.2907 27.9464 5.76023 27.7845 5.24672 27.6276C4.82398 27.4991 4.38648 27.3656 4.2257 27.1436L3.34141 27.7878C3.71766 28.3046 4.36078 28.5009 4.92734 28.6737C5.31234 28.7913 5.71047 28.9127 5.89859 29.1009C6.08672 29.289 6.20813 29.6866 6.3257 30.0716C6.49852 30.6387 6.69484 31.2812 7.21219 31.6575C7.7268 32.0332 8.39727 32.0206 8.98953 32.0113C9.39258 32.007 9.81094 31.9982 10.0505 32.1202C10.284 32.2394 10.5208 32.5784 10.7499 32.9066C11.0912 33.3949 11.4778 33.9478 12.0909 34.1474C12.6919 34.341 13.3235 34.1255 13.8808 33.933C14.2652 33.8013 14.6634 33.6602 14.933 33.7066C15.1873 33.746 15.5148 33.9932 15.8315 34.2322C16.3089 34.592 16.8503 35 17.5 35C18.1497 35 18.6911 34.592 19.1685 34.2327C19.4852 33.9938 19.8133 33.7466 20.0676 33.7072C20.3345 33.6602 20.7353 33.8013 21.1198 33.9336C21.6776 34.1261 22.3092 34.3438 22.9091 34.148C23.5222 33.9495 23.9088 33.3955 24.2501 32.9071C24.4792 32.5795 24.7166 32.2405 24.9495 32.1213C25.1891 31.9982 25.6058 32.0048 26.0105 32.0124C26.5984 32.0217 27.2716 32.0332 27.7873 31.6586C28.3041 31.2823 28.5004 30.6398 28.6732 30.0727C28.7908 29.6882 28.9122 29.2895 29.1003 29.102C29.2884 28.9138 29.686 28.7924 30.0705 28.6754C30.6376 28.5026 31.2807 28.3057 31.657 27.7884L30.7727 27.1452C30.6124 27.3662 30.1749 27.4991 29.7522 27.6287Z" fill="black"/>
                         <path d="M4.375 25.1562V24.0625C4.375 23.7601 4.13 23.5156 3.82812 23.5156H2.73438V24.6094H3.28125V25.1562C3.28125 25.4581 3.0357 25.7031 2.73438 25.7031C2.43305 25.7031 2.1875 25.4581 2.1875 25.1562V21.875C2.1875 21.5731 2.43305 21.3281 2.73438 21.3281C3.0357 21.3281 3.28125 21.5731 3.28125 21.875V22.4219H4.375V21.875C4.375 20.9705 3.63891 20.2344 2.73438 20.2344C1.82984 20.2344 1.09375 20.9705 1.09375 21.875V25.1562C1.09375 26.0608 1.82984 26.7969 2.73438 26.7969C3.63891 26.7969 4.375 26.0608 4.375 25.1562ZM4.92188 20.2344V25.1562C4.92188 26.0608 5.65797 26.7969 6.5625 26.7969C7.46703 26.7969 8.20312 26.0608 8.20312 25.1562V20.2344H7.10938V25.1562C7.10938 25.4581 6.86383 25.7031 6.5625 25.7031C6.26117 25.7031 6.01562 25.4581 6.01562 25.1562V20.2344H4.92188ZM8.75 21.875V26.7969H9.84375V25.7031H10.9375V26.7969H12.0312V21.875C12.0312 20.9705 11.2952 20.2344 10.3906 20.2344C9.48609 20.2344 8.75 20.9705 8.75 21.875ZM10.9375 21.875V24.6094H9.84375V21.875C9.84375 21.5731 10.0893 21.3281 10.3906 21.3281C10.692 21.3281 10.9375 21.5731 10.9375 21.875ZM16.4062 21.875V26.7969H17.5V25.7031H18.5938V26.7969H19.6875V21.875C19.6875 20.9705 18.9514 20.2344 18.0469 20.2344C17.1423 20.2344 16.4062 20.9705 16.4062 21.875ZM18.0469 21.3281C18.3487 21.3281 18.5938 21.5731 18.5938 21.875V24.6094H17.5V21.875C17.5 21.5731 17.7455 21.3281 18.0469 21.3281ZM12.5781 20.7812V23.5134C12.5781 23.5151 12.5781 23.5162 12.5781 23.5173V26.7969H13.6719V25.0748L14.8854 26.5918C14.9893 26.7214 15.1462 26.7969 15.3125 26.7969H15.8594V25.7031H15.575L14.2439 24.039C15.1583 23.8952 15.8594 23.1022 15.8594 22.1484C15.8594 21.093 15.0008 20.2344 13.9453 20.2344H13.125C12.8231 20.2344 12.5781 20.4788 12.5781 20.7812ZM13.6719 21.3281H13.9453C14.3976 21.3281 14.7656 21.6962 14.7656 22.1484C14.7656 22.6007 14.3976 22.9688 13.9453 22.9688H13.6719V21.3281ZM22.4219 23.4106L21.2893 20.5784C21.1914 20.3339 20.9311 20.1977 20.6779 20.2442C20.4203 20.2934 20.2344 20.5193 20.2344 20.7812V26.7969H21.3281V23.6206L22.4607 26.4529C22.5455 26.664 22.7489 26.7969 22.9682 26.7969C23.0027 26.7969 23.0377 26.7936 23.0721 26.787C23.3297 26.7378 23.5156 26.512 23.5156 26.25V20.2344H22.4219V23.4106ZM26.25 21.3281H27.3438V20.2344H24.0625V21.3281H25.1562V26.7969H26.25V21.3281ZM30.625 21.3281V20.2344H28.4375C28.1351 20.2344 27.8906 20.4788 27.8906 20.7812V26.25C27.8906 26.5524 28.1351 26.7969 28.4375 26.7969H30.625V25.7031H28.9844V24.0625H30.625V22.9688H28.9844V21.3281H30.625ZM31.1719 20.7812V26.25C31.1719 26.5524 31.4163 26.7969 31.7188 26.7969H33.9062V25.7031H32.2656V24.0625H33.9062V22.9688H32.2656V21.3281H33.9062V20.2344H31.7188C31.4163 20.2344 31.1719 20.4788 31.1719 20.7812Z" fill="black"/>
                         <path d="M31.1719 17.5C31.1719 9.96133 25.0387 3.82812 17.5 3.82812C9.96133 3.82812 3.82812 9.96133 3.82812 17.5C3.82812 18.0507 3.86531 18.6255 3.93805 19.2084L5.02305 19.0728C4.95578 18.5347 4.92188 18.0053 4.92188 17.5C4.92188 10.5645 10.5645 4.92188 17.5 4.92188C24.436 4.92188 30.0781 10.5645 30.0781 17.5C30.0781 18.0053 30.0442 18.5347 29.9764 19.0728L31.0614 19.2084C31.1352 18.6255 31.1719 18.0507 31.1719 17.5ZM25.8491 28.3232L25.1803 27.458C22.9605 29.172 20.3055 30.0781 17.5 30.0781C14.6951 30.0781 12.0395 29.172 9.82023 27.458L9.15141 28.3232C11.5642 30.187 14.4506 31.1719 17.5 31.1719C20.5494 31.1719 23.4363 30.187 25.8491 28.3232Z" fill="black"/>
                         <path d="M12.0312 11.4844H10.9375V12.5781H11.4844V18.0469H12.5781V12.0312C12.5781 11.7294 12.3331 11.4844 12.0312 11.4844ZM15.0391 11.4844C13.9836 11.4844 13.125 12.343 13.125 13.3984V16.1328C13.125 17.1883 13.9836 18.0469 15.0391 18.0469C16.0945 18.0469 16.9531 17.1883 16.9531 16.1328V13.3984C16.9531 12.343 16.0945 11.4844 15.0391 11.4844ZM15.8594 16.1328C15.8594 16.5851 15.4913 16.9531 15.0391 16.9531C14.5868 16.9531 14.2188 16.5851 14.2188 16.1328V13.3984C14.2188 12.9462 14.5868 12.5781 15.0391 12.5781C15.4913 12.5781 15.8594 12.9462 15.8594 13.3984V16.1328ZM19.4141 11.4844C18.3586 11.4844 17.5 12.343 17.5 13.3984V16.1328C17.5 17.1883 18.3586 18.0469 19.4141 18.0469C20.4695 18.0469 21.3281 17.1883 21.3281 16.1328V13.3984C21.3281 12.343 20.4695 11.4844 19.4141 11.4844ZM20.2344 16.1328C20.2344 16.5851 19.8663 16.9531 19.4141 16.9531C18.9618 16.9531 18.5938 16.5851 18.5938 16.1328V13.3984C18.5938 12.9462 18.9618 12.5781 19.4141 12.5781C19.8663 12.5781 20.2344 12.9462 20.2344 13.3984V16.1328Z" fill="#61C652"/>
                         <path d="M23.0254 17.2554L25.2129 12.8804L26.1913 13.3693L24.0038 17.7443L23.0254 17.2554Z" fill="#61C652"/>
                         <path d="M23.5156 13.6719H22.4219V14.7656H23.5156V13.6719Z" fill="#61C652">
                         </path>
                         <path d="M26.7969 15.8594H25.7031V16.9531H26.7969V15.8594Z" fill="#61C652">
                         </path>
                      </svg>
                   </div>
                   <div class="gt_trustbadge-text">
                      <h4>
                        Money Back Guarantee
                      </h4>
                      <p>
                        In case if you want a refund
                      </p>
                   </div>
                </div>
              
             </div>
          </div>
       </div>
    </div>
 </section>
