
  
<section class="gt_section-4298088 " data-name="Banner">
  <div class="gt_banner">
    <div class="gt_banner-image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/wWKDkuYHqc-body-wash-collection-jpg_100x.jpg')" alt="headingText">
    <div class="gt_overlay"></div>
    </div>
    <div class="gt_flex gt_align-i-center gt_banner-body">
      <div class="gt_banner-content">
        <div class="gt_banner-text">
          
          <h3 class="gt_banner-heading">
            A gift for mum at Christmas
          </h3>
          
          
          <p class="gt_banner-message">
            Luxurious soaps in a can.<br>
Give the world’s first plastic-free<br><br>refill to your very best.
          </p>
          
        </div>
        
        <a class="gt_banner-button" href="/products/three-bottles-es-organic-healthy-greenes-juice-ms03">
          <button class="gt_banner-btn">
            SHOP NOW
          </button>
        </a>
        
      </div>
  </div>
  </div>
</section>


<section class="gt_section-4298092 " data-name="Featured Collection">
  <div class="gt_productlist"> 
    <div class="position_hook">
      
    </div>
    <div class="gt_container">
      <div class="gt_productlist-content">
        <div class="gt_flex gt_flex-column gt_align-i-center gt_productlist-head">
        <h3>
        Everyone needs to be clean. We've just made it really lovely.<br>
Who wouldn’t want to be part of a revolution that feels this good? Add another sentence or two here to emphasise the benefits of the product and brand.
        </h3>
        </div>
        <div class="position_hook">
            
        </div>
        <div class="gt_flex gt_flex-wrap owl-carousel owl-theme gt_productlist-items">
        
        
        
        {% for product in collections["starter-kit"].products limit:2 %}
        
            <div class="gt_productlist-item item">
            <div class="gt_element-29811" data-name="Product List" keyword="product">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
    <script type="application/json" class="ProductJson" data-id="{{product.id}}" data-variant="{{product.selected_or_first_available_variant.id}}">
      {{ product | json }}
    </script>
  {% unless current_variant == empty %}
    <script type="application/json"> 
      {{ current_variant | json }}
    </script>
  {% endunless %}
    
      {% form 'product', product, class:'product-form' %}
    
    <input type="hidden" name="id" class="gt_swatches--input" value="{{current_variant.id}}">
    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <div class="gt_product_content">
      <a class="gt_product_link" href="{{product.url}}">
      <div class="gt_image_product">
        
        {%- assign current_variantProduct = product.selected_or_first_available_variant -%}
        {% if current_variantProduct == empty or current_variantProduct.featured_image == null  %}
          {%- assign imageURL = product.featured_image -%}
        {% else %}
          {%- assign imageURL = current_variantProduct.featured_image -%}
        {% endif %}


        <div class="image_content gt_product-images">
          
            {%- assign imageURL = product.featured_image -%}
          

          <img class="gt_lazyload" src="{{ imageURL.src | img_url: '300x' }}" data-id="{{ imageURL.id }}" alt="{{ imageURL.alt }}">
        </div>
        
        
        {% assign endDate = "" %}
        
        
        
        {% if product.id == 6594273804443 %}
          {% assign endDate = "" %}
        {% endif %}
        

        {% if endDate != "" %}
        <div class="gt_countdown" end-date="{{endDate}}" product-id="{{product.id}}">
          <div class="count_down_content">
            <span class="time_count_down">
              <span class="time_count_down-hours">00</span>:<span class="time_count_down-minutes">00</span>:<span class="time_count_down-seconds">00</span>
            </span>
          </div>
        </div>
        {% endif %}
      </div>
      </a>
      <a class="gt_product_link" href="{{product.url}}">
      <div class="gt_product_name">
          {{product.title}}
      </div>
      </a>
      <div class="gt_flex gt_variant_product">
       {% for option in product.options_with_values offset: 1 limit: 2 %}
        {% if option.name != "Title" %}
          <div class="gt_flex gt_flex-column gt_variant_content product_variant gt_product-swatches--item {% if option.values.size == 1%} variant_none {% endif %}" data-name="{{option.name}}">
            <p>{{option.name}}</p>
            <div class="gt_select-styled gt_product-swatches--name">{{option.selected_value}}</div>
              <ul class="gt_select-options" style="display: none;">
               
              {% for value in option.values %}
                {% if value == option.selected_value %}
                    {% assign selectedClass = 'gt_swatches--select gt_active' %}
                {% else %}
                    {% assign selectedClass = 'gt_swatches--select' %}
                {% endif %}
                <li class="gt_product-swatches--options {{selectedClass}}" data-name="{{option.name}}" data-value="{{value}}" data-show="false">{{value}}</li>
              {% endfor %}
                  
              </ul>
          </div>
        {% endif %}
         {% endfor %}
          {% for option in product.options_with_values limit: 1 %}
          {% if option.name != "Title" %}
             <div class="gt_flex gt_flex-column gt_variant_content product_variant gt_product-swatches--item {% if option.values.size == 1%} variant_none {% endif %}" data-name="{{option.name}}">
              <p>{{option.name}}</p>
              <div class="gt_select-styled gt_product-swatches--name">{{option.selected_value}}</div>
              <ul class="gt_select-options" style="display: none;">
               
              {% for value in option.values %}
                {% if value == option.selected_value %}
                    {% assign selectedClass = 'gt_swatches--select gt_active' %}
                {% else %}
                    {% assign selectedClass = 'gt_swatches--select' %}
                {% endif %}
                <li class="gt_product-swatches--options {{selectedClass}}" data-name="{{option.name}}" data-value="{{value}}" data-show="false">{{value}}</li>
              {% endfor %}
                  
              </ul>
              
          </div>
          {% endif %}
          {% endfor %} 
      </div>
      <div class="gt_flex gt_product_price">
        
          <span class="gt_curent_price gt_product-price--number" data-currentprice="{{ product.price }}">{{product.price | money }}</span>
      </div>
      {% if current_variant.available %}
        {% assign classButton = '' %}
      {% else %}
        {% assign classButton = 'gt_soldout' %}
      {% endif %}
      
        <div class="button_add_to_cart gt_product-addtocart {{classButton}}" data-addtocart="BUY NOW" data-soldout="Sold Out">
          
            <button name="add" id="AddToCart" class="gt_product-addtocart--button" type="submit">
              
              <span class="gt_product-addtocart--text">
                {%- if current_variant.available -%}
                  BUY NOW
                {%- else -%}
                  Sold Out
                {%- endif -%}
              </span>
            </button>
          
      </div>
      
      
    </div>
    <div class="position_hook">
    
    </div>
    
    {% endform %}
  
</div>

            </div>
        {% endfor %}
    </div>
    </div>
    </div>
    <div class="position_hook">
      
    </div>
  </div>
</section>


<section class="gt_section-a106w1U48cZOVYg " data-name="Testimonials">
  <div class="gt_testimonials">
      <div class="gt_container">
          <h4 class="gt_heading gt_mb--medium gt_testimonials-heading">
            
          </h4>
          <div class="owl-carousel owl-theme gt_testimonial-carousel">
            
              
              <div class="gt_mb--medium gt_ml--medium gt_mr--medium item" data-index="0">
                <div class="gt_testimonial">
                    <div class="gt_mb--small gt_testimonial-icon">
                        <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0592 20H25.2655L25.2655 10.2474L21.7353 10.2474C21.3892 6.64311 23.3966 4.4523 27.619 3.67491L26.7192 0C19.5895 0.565372 16.0592 4.4523 16.0592 11.7315L16.0592 20ZM0 20H9.20635V10.2474L5.6761 10.2474C5.32999 6.64311 7.33739 4.4523 11.5599 3.67491L10.66 0C3.53025 0.565372 0 4.4523 0 11.7315L0 20Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="gt_mb--small gt_testimonial-text">
                        <p class="gt_text gt_testimonial-text-item" data-index="0">
                          
                          “This brand has clearly spent a long time thinking about all aspects of it’s business model, from it’s cleverly designed yet minimalist packaging to planting a tree with every can sold.”
                        </p>
                    </div>
                    <p class="gt_testimonial-author" data-index="0">
                      
                      The Independent
                      </p>
                </div>
              </div>
            
              
              <div class="gt_mb--medium gt_ml--medium gt_mr--medium item" data-index="1">
                <div class="gt_testimonial">
                    <div class="gt_mb--small gt_testimonial-icon">
                        <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0592 20H25.2655L25.2655 10.2474L21.7353 10.2474C21.3892 6.64311 23.3966 4.4523 27.619 3.67491L26.7192 0C19.5895 0.565372 16.0592 4.4523 16.0592 11.7315L16.0592 20ZM0 20H9.20635V10.2474L5.6761 10.2474C5.32999 6.64311 7.33739 4.4523 11.5599 3.67491L10.66 0C3.53025 0.565372 0 4.4523 0 11.7315L0 20Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="gt_mb--small gt_testimonial-text">
                        <p class="gt_text gt_testimonial-text-item" data-index="1">
                          
                          “We tried the delicious smelling mandarin and clary sage. This hand soap certainly feels luxurious and a little goes a long way.”
                        </p>
                    </div>
                    <p class="gt_testimonial-author" data-index="1">
                      
                      Evening Standard
                      </p>
                </div>
              </div>
            
          </div>
      </div>
  </div>
</section>


<section class="gt_section-4daKX9hzhfFTEMz " data-name="Video Banner">
  <div class="gt_banner">
      <div class="gt_banner-content-text">
        <div>
          
          <h2 class="gt_heading gt_banner-title">
             Send it #plasticfree
            </h2>
          
          <div class="gt_mb--medium gt_banner-rte">
            
              <p class="gt_banner-rte1">
                KANKAN is proud to partner with 
Flexi-hex, a Cornish company equally motivated to make a big impact on removing single-use plastic from the oceans. Made from recycled paper, and water-based adhesive - this lightweight showstopper of packaging means it is totally biodegradable and home compostable.
                </p>
            
            
          </div>
          
          <a href="#" target="_blank" class="gt_btn-text">
            <button class="gt_button gt_banner-btn">
                <div class="gt_banner-btn__icon">
                  SHOP NOW
                </div>
            </button>
          </a>
          
        </div>
      </div>
      <div class="gt_banner-content-img">
          <a href="#">
            <div class="gt_banner-img">
              
                <img class="gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/GnVNjazWeV-plastic-free-jpg_70x.jpg" alt="KANKAN%20is%20proud%20to%20partner%20with%20%0AFlexi-hex%2C%20a%20Cornish%20company%20equally%20motivated%20to%20make%20a%20big%20impact%20on%20removing%20single-use%20plastic%20from%20the%20oceans.%20Made%20from%20recycled%20paper%2C%20and%20water-based%20adhesive%20-%20this%20lightweight%20showstopper%20of%20packaging%20means%20it%20is%20totally%20biodegradable%20and%20home%20compostable.">
                  
            </div>
          </a>
      </div>
  </div>
</section>


<section class="gt_section-j03HYUtN0bWsCub " data-name="Testimonial">
  <div class="gt_container">
    <div class="testimonial_body">
      <div class="gt_heading gt_mb--small heading_text">
        <h3>
          ★★★★★
        </h3>
      </div>
      <div class="gt_subheading message_text">
        <p>
          5 REVIEWS
        </p>
      </div>

      <div class="gt_mt--large testimonial_content">
        <div class="owl-carousel owl-theme slide_testimonial">
          
            
            <div class="item" data-index="0">
              <div class="item_content">
                
                

                <div class="info_content">
                  <div class="heading_content">
                    
                    <h4 class="gt_mb--small" data-index="0"> 
                      "Smells Amazing"
                    </h4>
                  </div>
                  <div class="gt_mb--small message_content">
                    
                    <p class data-index="0"> 
                      “So happy with my starter set! Love the design on the bottle and the body wash is so nice, smells amazing…”
                    </p>
                  </div>
                  
                  
                  
                  <div class="gt_mb--small rating_content">
                    
                    <div class="rating_star">
                      
                        <span>
                          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                        
                        </span>
                      
                        <span>
                          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                        
                        </span>
                      
                        <span>
                          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                        
                        </span>
                      
                        <span>
                          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                        
                        </span>
                      
                        <span>
                          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                        
                        </span>
                      
                    </div>
                    <div class="rating_star" style="width: 100%">
                      
                        <span>
                          <svg color="#FEC039" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                        </span>
                      
                        <span>
                          <svg color="#FEC039" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                        </span>
                      
                        <span>
                          <svg color="#FEC039" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                        </span>
                      
                        <span>
                          <svg color="#FEC039" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                        </span>
                      
                        <span>
                          <svg color="#FEC039" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                        </span>
                      
                    
                    </div>
                  </div>
                  

                  <div class="gt_text--small gt_mb--extra-small customer_name">
                    
                    <p class data-index="0">
                      Poppy F
                    </p>
                  </div>

                  <div class="gt_text--small address_customer">
                    
                    <p class data-index="0">
                      
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</section>



<section class="gt_section-f5BXHSc6xZdMVZ2 " data-name="Video Banner">
  <div class="gt_banner">
      <div class="gt_banner-content-text">
        <div>
          
          <h2 class="gt_heading gt_banner-title">
             Send it #plasticfree
            </h2>
          
          <div class="gt_mb--medium gt_banner-rte">
            
              <p class="gt_banner-rte1">
                KANKAN is proud to partner with 
Flexi-hex, a Cornish company equally motivated to make a big impact on removing single-use plastic from the oceans. Made from recycled paper, and water-based adhesive - this lightweight showstopper of packaging means it is totally biodegradable and home compostable.
                </p>
            
            
          </div>
          
          <a href="#" target="_blank" class="gt_btn-text">
            <button class="gt_button gt_banner-btn">
                <div class="gt_banner-btn__icon">
                  SHOP NOW
                </div>
            </button>
          </a>
          
        </div>
      </div>
      <div class="gt_banner-content-img">
          <a href="#">
            <div class="gt_banner-img">
              
                <img class="gt_lazyload" src="https://cdn.shopify.com/s/files/1/0553/4158/0443/t/2/assets/GnVNjazWeV-plastic-free-jpg_70x.jpg" alt="KANKAN%20is%20proud%20to%20partner%20with%20%0AFlexi-hex%2C%20a%20Cornish%20company%20equally%20motivated%20to%20make%20a%20big%20impact%20on%20removing%20single-use%20plastic%20from%20the%20oceans.%20Made%20from%20recycled%20paper%2C%20and%20water-based%20adhesive%20-%20this%20lightweight%20showstopper%20of%20packaging%20means%20it%20is%20totally%20biodegradable%20and%20home%20compostable.">
                  
            </div>
          </a>
      </div>
  </div>
</section>


  