<div class="gt_container">
  <div class="account-order">
      <div class="account-order-center">
          <h1>{{ 'customer.order.title_account' | t}}</h1>
          <a href="/account">{{ 'customer.order.return_account' | t}}</a>
      </div>
      <div class="account-order-item">
          <h2>{{ 'customer.order.title' | t}} {{ order.name }}</h2>

          <p class="order_date">{{ 'customer.order.date_html' | t}} {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

          {% if order.cancelled %} {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
            <p>{{ 'customer.order.cancelled_html' | t}} {{ cancelled_at }}</p>
            <p>{{ 'customer.order.cancelled_reason' | t}} {{ order.cancel_reason }}</p>
          {% endif %}
          <div class="account-order-table-responsive">
              <table>
                  <thead>
                      <tr>
                          <th>{{ 'customer.order.product' | t}}</th>
                          <th>{{ 'customer.order.sku' | t}}</th>
                          <th>{{ 'customer.order.price' | t}}</th>
                          <th>{{ 'customer.order.quantity' | t}}</th>
                          <th>{{ 'customer.order.total' | t}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for line_item in order.line_items %}
                      <tr id="{{ line_item.key }}" class="responsive-table-row">
                          <td data-label="Product">
                              {{ line_item.title | link_to: line_item.product.url }} {% if line_item.fulfillment %}
                              <dl>
                                  <dt>{{ 'customer.order.fulfilled_at_html' | t}}</dt>
                                  <dd> {{ line_item.fulfillment.created_at | date: format: 'month_day_year' }} </dd>

                                  {% if line_item.fulfillment.tracking_url %}
                                  <dt>{{ 'customer.order.tracking_url' | t}}</dt>
                                  <dd>
                                      <a href="{{ line_item.fulfillment.tracking_url }}">
                                      	{{ 'customer.order.track_shipment' | t}}
                                      </a>
                                  </dd>
                                  {% endif %}

                                  <dt>{{ 'customer.order.track_company' | t}}</dt>
                                  <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                                  {% if line_item.fulfillment.tracking_number %}
                                  <dt>{{ 'customer.order.track_number' | t}}</dt>
                                  <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                                  {% endif %}
                              </dl>
                              {% endif %}
                          </td>
                          <td data-label="{{ 'customer.order.sku' | t}}">{{ line_item.sku }}</td>
                          <td data-label="{{ 'customer.order.price' | t}}">{{ line_item.price | money }}</td>
                          <td data-label="{{ 'customer.order.quantity' | t}}">{{ line_item.quantity }}</td>
                          <td data-label="{{ 'customer.order.total' | t}}">{{ line_item.quantity | times: line_item.price | money }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                      <tr class="responsive-table-row">
                          <td colspan="4" class="small--hide">{{ 'customer.order.subtotal' | t}}</td>
                          <td data-label="{{ 'customer.order.subtotal' | t}}">{{ order.subtotal_price | money }}</td>
                      </tr>

                      {% for discount in order.discounts %}
                      <tr>
                          <td colspan="4" class="small--hide">{{ discount.code }} {{ 'customer.order.discount' | t}}</td>
                          <td data-label="{{ discount.code }} {{ 'customer.order.discount' | t}}">{{ discount.savings | money }}</td>
                      </tr>
                      {% endfor %} {% for shipping_method in order.shipping_methods %}
                      <tr>
                          <td colspan="4" class="small--hide">{{ discount.code }} {{ 'customer.order.shipping' | t}} ({{ shipping_method.title }})</td>
                          <td data-label="{{ discount.code }} {{ 'customer.order.shipping' | t}} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                      </tr>
                      {% endfor %} {% for tax_line in order.tax_lines %}
                      <tr>
                          <td colspan="4" class="small--hide">{{ discount.code }} {{ 'customer.order.tax' | t}} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                          <td data-label="{{ discount.code }} {{ 'customer.order.tax' | t}} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                      </tr>
                      {% endfor %}

                      <tr>
                          <td colspan="4" class="small--hide">{{ discount.code }} {{ 'customer.order.total' | t}}</td>
                          <td data-label="{{ discount.code }} {{ 'customer.order.total' | t}}">{{ order.total_price | money }} {{ order.currency }}</td>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>

      <div>
          <h3>{{ discount.code }} {{ 'customer.order.billing_address' | t}}</h3>

          <p>{{ 'customer.order.payment_status' | t}} {{ order.financial_status_label }}</p>
      </div>
      {{ order.billing_address | format_address }}
      <div>
          <h3>{{ 'customer.order.shipping_address' | t}}</h3>

          <p>{{ 'customer.order.fulfillment_status' | t}} {{ order.fulfillment_status_label }}</p>
      </div>
      {{ order.shipping_address | format_address }}

  </div>
</div>
<style>
.account-order {
	max-width: 600px;
	margin: 100px auto;
}

.account-order-center {
	text-align: center;
}

.account-order h1 {
	margin-bottom: 20px;
}

.account-order h2 {
	margin-bottom: 20px;
}

.account-order h3 {
	margin-bottom: 10px;
	margin-top: 20px;
}

.account-order-table-responsive {
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}

.account-order table {
	border-collapse: collapse;
	width: 600px;
}

.account-order table td,
.account-order table th {
	text-align: left;
	border: 1px solid #e8e9eb;
	padding: 10px 14px;
}

.account-order table th {
	font-weight: bold;
}

.account-order-item {
	margin-top: 30px;
	margin-bottom: 10px;
}
  
.order_date{
  margin-bottom: 15px
}
  
</style>